{% macro cont() %}
<div id="contenido_uno">
    <!-- <div id="texto1" style="z-index:33;">Edward Camilo Gonzalez A</div> -->
    <div style="width: 100%;border-radius: 50%;height:20%;top:10%;z-index:23;position:relative">
        <div id="texto2" style="z-index:33;text-align: center;">
            <div>
                Edward Camilo Gonzalez
            </div> 
            <div>
                Desarrollador Web
            </div>
            <div>
                Backend con algunos conocimientos en Frontend
            </div>
            <div>
                Contacto:
                    backender.dev@gmail.com
            </div>
            <div>
                Algunos Proyectos:
                GitHub 1
                GitHub 2
            </div>
            
            
        
        </div>
    </div>
    <div id="planet" style="width: 100%;border-radius: 50%;height:20%;bottom:-80%;z-index:23;position:relative">
        <div style="margin:4px;text-align: center;">
            Edd
        </div>
    </div>
</div>
{% endmacro %}