{% macro cont() %}
<div id="contenido_tres">
    <div id="edificio1" style="width: 705.117px; right: 0%; z-index: 25; position: absolute; height: 410.4px; background-position: right 7px bottom -50px;top: -17%;">
        <div id="texto7"></div>
    </div>
    <div id="edificio2" style="width: 30%;left:0%;z-index:25;position:absolute;height: 100%; top: -17%;">
        <div id="texto8"></div>
    </div>
    <div id="edificio3" style="height: 20%;z-index:25;position:absolute;width: 100%;">
        <div id="texto9"></div>
    </div>
</div>
{% endmacro %}