{% macro cont() %}
<div id="contenido_cuatro">
    <div id="edificio4" style="bottom:80%;z-index:25;position:absolute;width: 100%;"></div>
    <div id="edificio5" style="bottom:0%;z-index:25;position:absolute;width: 100%;background-color: #304050;">
        <div id="pantalla" style="transform: perspective(4cm) rotateX(4deg) rotateY(0deg)"></div>
        <div id="tablero">
            <div style="align-self: end;">
                <div id="b1" >1</div>
            </div>
            
            <div id="b2" >
                Ingresa una palabra
                <input></input>
            </div>
            <div style="align-self: end;">
                <div id="b3" >3</div>
            </div>
            
            <!-- <div id="b4" class="boton1">4</div> -->
            <!-- <div id="b5" class="boton2">5</div> -->
            <div style="align-self: end;">
                <div id="b6" class="boton1" >6</div>
            </div>
            <div style="align-self: end;">
                <div id="b7" class="boton2">7</div>
            </div>

            
            
        </div>
    </div>
</div>
{% endmacro %}